header
  .container
    .row
      .12u 
        .x Twelve
    .row
      .8u(class='12u(small)')
        .x eight
      .4u(class='12u(small)')
        .x four
    .row
      .8u(class='12u(xsmall)')
       .row
        .6u(class='12u(small)')
          .x second eight
        .6u(class='12u(small)')
          .x second eight
      .4u(class='12u(xsmall)')
        .row
          .6u(class='12u(small)')
            .x second four
          .6u(class='12u(small)')
            .x second four
    .row
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three
      .3u(class='6u(xsmall)')
        .x three